body {
  font-family: poynter-gothic-text, poyntergothictext,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#docsSearch {
    background: #00d477;
    border: 0;
    padding: 8em 0;
}
#searchBar .search-query {
	background: #fff;
	border-color: transparent;
	box-shadow: none;
	color: #00d477;
}
#searchBar button {
    background: rgba(0,0,0,0.8);
    border-color: transparent;
    color: #fff;
    text-shadow: none;
}
#searchBar button:hover {
  background: background: rgba(0,0,0,0.8);
}

.navbar .brand img{
  width: 150px;
}
